:root,
[data-tr-color-mode] {
  --tr-prompt-bg: var(--tr-container-bg-default);
  --tr-prompt-bg-hover: var(--tr-container-bg-hover);
  --tr-prompt-bg-active: var(--tr-container-bg-active);
  --tr-prompt-bg-disabled: var(--tr-container-bg-disabled);
  --tr-prompt-shadow: var(--tr-shadow-sm);
  --tr-prompt-title-color: var(--tr-text-color-primary);
  --tr-prompt-description-color: var(--tr-text-color-secondary);
  --tr-prompt-badge-bg: var(--tr-error-bg);
  --tr-prompt-badge-color: var(--tr-error-text);
}

:root {
  /* Prompts */
  --tr-prompts-gap: var(--tr-spacing-lg);

  /* Prompt */
  /* 不影响的布局的变量 */
  --tr-prompt-title-font-weight: var(--tr-font-weight-medium);
  --tr-prompt-border-radius: var(--tr-radius-xl);

  /* 影响布局的变量 */
  /* default (medium) */
  --tr-prompt-padding-block: var(--tr-prompt-padding-block-medium);
  --tr-prompt-padding-inline: var(--tr-prompt-padding-inline-medium);
  --tr-prompt-title-font-size: var(--tr-prompt-title-font-size-medium);
  --tr-prompt-title-line-height: var(--tr-prompt-title-line-height-medium);
  --tr-prompt-description-font-size: var(--tr-prompt-description-font-size-medium);
  --tr-prompt-description-line-height: var(--tr-prompt-description-line-height-medium);
  --tr-prompt-gap: var(--tr-prompt-gap-medium);
  --tr-prompt-content-gap: var(--tr-prompt-content-gap-medium);
  --tr-prompt-badge-padding-inline: var(--tr-prompt-badge-padding-inline-medium);
  --tr-prompt-badge-font-size: var(--tr-prompt-badge-font-size-medium);
  --tr-prompt-badge-line-height: var(--tr-prompt-badge-line-height-medium);

  /* small */
  --tr-prompt-padding-block-small: 10px;
  --tr-prompt-padding-inline-small: var(--tr-spacing-lg);
  --tr-prompt-title-font-size-small: var(--tr-font-size-sm);
  --tr-prompt-title-line-height-small: 24px;
  --tr-prompt-description-font-size-small: var(--tr-font-size-sm);
  --tr-prompt-description-line-height-small: 22px;
  --tr-prompt-gap-small: var(--tr-spacing-md);
  --tr-prompt-content-gap-small: var(--tr-spacing-xs);
  --tr-prompt-badge-padding-inline-small: var(--tr-spacing-md);
  --tr-prompt-badge-font-size-small: var(--tr-font-size-sm);
  --tr-prompt-badge-line-height-small: 22px;

  /* medium */
  --tr-prompt-padding-block-medium: 14px;
  --tr-prompt-padding-inline-medium: var(--tr-spacing-2xl);
  --tr-prompt-title-font-size-medium: var(--tr-font-size-sm);
  --tr-prompt-title-line-height-medium: 24px;
  --tr-prompt-description-font-size-medium: var(--tr-font-size-sm);
  --tr-prompt-description-line-height-medium: 22px;
  --tr-prompt-gap-medium: var(--tr-spacing-md);
  --tr-prompt-content-gap-medium: var(--tr-spacing-xs);
  --tr-prompt-badge-padding-inline-medium: var(--tr-spacing-md);
  --tr-prompt-badge-font-size-medium: var(--tr-font-size-sm);
  --tr-prompt-badge-line-height-medium: 22px;

  /* large */
  --tr-prompt-padding-block-large: 14px;
  --tr-prompt-padding-inline-large: var(--tr-spacing-2xl);
  --tr-prompt-title-font-size-large: var(--tr-font-size-md);
  --tr-prompt-title-line-height-large: 24px;
  --tr-prompt-description-font-size-large: var(--tr-font-size-sm);
  --tr-prompt-description-line-height-large: 22px;
  --tr-prompt-gap-large: var(--tr-spacing-md);
  --tr-prompt-content-gap-large: var(--tr-spacing-xs);
  --tr-prompt-badge-padding-inline-large: var(--tr-spacing-md);
  --tr-prompt-badge-font-size-large: var(--tr-font-size-md);
  --tr-prompt-badge-line-height-large: 22px;
}
